@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importar estilos de react-datepicker en el archivo global (por ejemplo, styles/globals.css) */
@import "react-datepicker/dist/react-datepicker.css";

::-webkit-scrollbar {
    display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  border: none;
  border-radius: 999px !important;
  background-color: #ffc7e1  !important;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  border-radius: 999px !important;
}

.react-datepicker {
  padding: 8px !important;
  border: none !important;
  font-family: "Dm sans";
}

.react-datepicker__header {
  border-bottom: none !important;
  background: none;
}

.react-datepicker__day-name{
  color: gray !important
}

.react-datepicker__day.react-datepicker__day--selected {
  border-radius: 999px !important;
  background-color: oklch(var(--p))  !important;
  color: white;
}

.react-datepicker__day:hover, .react-datepicker__day--weekend:hover {
  border-radius: 999px !important;
  transition: all 0.3s ease-in-out;
  background-color: #ffc7e1 !important;
}

.react-datepicker__navigation--previous {
  left: 72% !important;
}
.react-datepicker__navigation--next {
  right: 16px;
}

h2.react-datepicker__current-month {
  text-align: left;
  padding: 0 14px;
}

.react-datepicker__navigation-icon {
  position: relative;
  top: 4px;
  font-size: 20px;
}